html{
  font-size: 16px;
 Line-height:1.5;
font-family:"Lato, sans-serif"

}
body{
    font-family:inherit;
}
p,ul, ol{
    padding-bottom:1.5rem;
}    
ul,ol{
    padding-left:1.5rem;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
    Margin-top:1em;
    margin-bottom:0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
table {
    width: 100%;              
    border-collapse: collapse;  
}


th, td {
    padding: 10px;              
    border: 1px solid #cccccc;     
    text-align: left;          
}
thead {
    background-color: #f2f2f2;  
}


th {
    font-weight: bold;        
}
tr td{
    border: 1px solid #cccccc;
    padding-right: 150px;
}

tr:nth-child(even) {
    background-color: #f0ebeb;  /* Add a subtle background color to even rows */
}




