* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw; 
    display: flex;
    font-family: 'Lato',sans-serif;
   
}
.container {
    display: flex;
    flex-direction: column; 
    flex: 1; 
}

.loginForm {
    display: flex;
    flex-direction: column;
    border: 3px solid green;
    height: 100vh; 
    width: 100vw;   
}

header, main, aside, footer {
    display: flex;
    flex-direction: column;
    margin: 30px; 
    padding: 20px; 
    border: 2px solid blue;
    overflow: auto;
    flex: 1;
    justify-content: center;
}
p,h1{
    margin:0px 20%;
    font-size: medium;
}
h1{
  margin-bottom: 15px;
}
@media (max-width:800px){
    header, main, aside, footer {
        display: flex;
        flex-direction: column;
        margin: 30px; 
        padding: 0px; 
        border: 2px solid blue;
        overflow: auto;
        flex: 1;
        justify-content: center;
    }
    p,h1{
        margin: 20px 0px 5px 0px;
        font-size: medium;
    }
}